<app-header title="Login"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
      <div class="form-group mb-3">
        <app-custom-input [control]="form.controls.email" icon="mail-outline" type="text"
                          label="Correo"></app-custom-input>
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
          <small *ngIf="form.get('email')?.hasError('required')">El correo es obligatorio.</small>
          <small *ngIf="form.get('email')?.hasError('email')">Introduce un correo válido.</small>
        </div>
      </div>

      <div class="form-group mb-3">
        <app-custom-input [control]="form.controls.password" icon="lock-closed" type="password"
                          label="Contraseña"></app-custom-input>
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
          <small *ngIf="form.get('password')?.hasError('required')">La contraseña es obligatoria.</small>
        </div>
      </div>

      <div class="form-group text-center">
        <ion-button mode="ios" expand="block" class="btn btn-primary w-100 submit" type="submit"
                    [disabled]="form.invalid">Iniciar Sesión
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
        <ion-button routerLink="/sign-up" mode="ios" expand="block" class="btn btn-primary ion-margin-top"
                    fill="outline">
          Crear usuario
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="forgot-password-link">
        <a href="/forgot-password">¿Has olvidado tu contraseña?</a>
      </div>
    </form>
  </div>
</ion-content>
