<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="backButtonURL"
        [defaultHref]="backButtonURL"
      ></ion-back-button>
      <ion-button *ngIf="isModal" (click)="dismissModal()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      </ion-button>
      <ion-menu-button *ngIf="showMenuButton" menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong>{{ title }}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
