.sign-up-form {
  text-align: center;
  padding: 20px;
}

@media (min-width: 769px) {
  .auth-form {
    width: 500px;
  }
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  margin-top: 40px;
}

ion-checkbox {
  --border-color: #ccc;
  --border-radius: 8px;
  --background: #fff;
  --checkmark-color: white;
  --size: 22px;
  margin-inline-start: 8px;
}

ion-checkbox.checked {
  --background: #3880ff;
  --border-color: #3880ff;
}
