<app-header title="Creación de usuarios" [showMenuButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form [formGroup]="form" (ngSubmit)="submit()" class="sign-up-form">
      <div class="form-group mb-3">
        <app-custom-input [control]="form.controls.name" icon="person-outline" type="text"
                          label="Nombre"></app-custom-input>
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">
          <small *ngIf="form.get('name')?.hasError('required')">El nombre es obligatorio.</small>
          <small *ngIf="form.get('name')?.hasError('minlength')">El nombre debe tener al menos 6 caracteres</small>
        </div>
      </div>

      <div class="form-group mb-3">
        <app-custom-input [control]="form.controls.email" icon="mail-outline" type="email"
                          label="Correo"></app-custom-input>
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
          <small *ngIf="form.get('email')?.hasError('required')">El correo es obligatorio.</small>
          <small *ngIf="form.get('email')?.hasError('email')">Introduce un correo válido.</small>
        </div>
      </div>

      <div class="form-group mb-3">
        <app-custom-input [control]="form.controls.password" icon="lock-closed" type="password"
                          label="Contraseña"></app-custom-input>
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
          <small *ngIf="form.get('password')?.hasError('required')">El asunto es obligatorio.</small>
          <small *ngIf="form.get('password')?.hasError('minlength')">La contraseña debe tener al menos 8
            caracteres</small>
        </div>
      </div>

      <div class="form-group mb-3">
        <ion-item lines="none" (click)="toggleCheckbox($event, 'tic_role')">
          <ion-label>TIC</ion-label>
          <ion-checkbox slot="end" formControlName="tic_role"
                        (click)="$event.stopPropagation()"></ion-checkbox>
        </ion-item>
      </div>

      <div class="form-group mb-3">
        <ion-item lines="none" (click)="toggleCheckbox($event, 'admin_role')">
          <ion-label>Administrador</ion-label>
          <ion-checkbox slot="end" formControlName="admin_role"
                        (click)="$event.stopPropagation()"></ion-checkbox>
        </ion-item>
      </div>

      <div class="form-group text-center">
        <ion-button mode="ios" expand="block" class="btn btn-primary w-100 submit" type="submit"
                    [disabled]="form.invalid">
          Crear usuario
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
