.custom-btn {
  font-weight: bold;
}

.container {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

h2 {
  font-size: 3.5rem;
  color: #000;

}

p {
  color: #000;
}

.btn i {
  margin-right: 5px;
}
