<app-header title="Recuperar contraseña" backButtonURL="/auth"></app-header>

<ion-content class="ion-padding forgot-password-page">
  <div class="center-wrapper">
    <div class="container">
      <ion-icon name="lock-closed-outline" class="icon"></ion-icon>
      <h2>¿Olvidaste tu contraseña?</h2>
      <p>Introduce tu correo electrónico y te enviaremos un enlace para restablecerla.</p>

      <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
        <div class="form-group mb-3">
          <app-custom-input [control]="form.controls.email" icon="mail-outline" type="text"
                            label="Correo"></app-custom-input>
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
            <small *ngIf="form.get('email')?.hasError('required')">El correo es obligatorio.</small>
            <small *ngIf="form.get('email')?.hasError('email')">Introduce un correo válido.</small>
          </div>
        </div>

        <div class="form-group text-center">
          <ion-button mode="ios" expand="block" class="btn btn-primary w-100 submit" type="submit"
                      [disabled]="form.invalid">
            Enviar correo
            <ion-icon slot="end" name="log-in-outline"></ion-icon>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
