.forgot-password-page {
  background: #f9f9f9;

  .center-wrapper {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    .icon {
      font-size: 48px;
      color: var(--ion-color-primary);
      margin-bottom: 16px;
    }

    h2 {
      font-size: 22px;
      margin: 10px 0;
      font-weight: 600;
    }

    p {
      font-size: 15px;
      color: #666;
      margin-bottom: 24px;
    }

    .login-form {
      .form-group {
        margin-bottom: 18px;
        text-align: left;

        .text-danger {
          color: #e74c3c;
          font-size: 16px;
          margin-top: 4px;
        }
      }

      .submit {
        margin-top: 10px;
        --border-radius: 12px;
        --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
