ion-content {
  --padding-top: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

.device-item {
  background-color: #ffffff;
  border-radius: 8px;
}

.status-label {
  font-weight: bold;
  font-size: 0.9rem;
}

.classroom-label {
  font-size: 0.95rem;
}

ion-card-title {
  font-size: 1rem;
  font-weight: 600;
}

ion-card-content p,
.device-item p {
  margin: 4px 0;
  font-size: 0.95rem;
}

ion-select,
ion-input {
  min-width: 120px;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

ion-button {
  margin-top: 8px;
}

ion-refresher-content {
  color: #666;
}

ion-skeleton-text {
  border-radius: 4px;
}

ion-spinner {
  margin-top: 20px;
}

ion-infinite-scroll-content {
  margin-top: 16px;
  color: #555;
}

.filter-bar {
  display: flex;
  flex-direction: column; /* Móvil por defecto */
  gap: 16px;
  margin: 10px 0;
  width: 100%;
}

.filter-group {
  display: flex;
  flex-direction: column; /* Móvil por defecto */
  gap: 10px;
}

@media (min-width: 769px) {
  .filter-bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .filter-group {
    flex-direction: row;
    align-items: center;
  }
}
